 <!-- Footer -->
     <div class="footer-bg">
    <footer class="container">
        <div class=" row">
            <div class="col-md-4 f-sec1">
                <img src="/image/jmr-logo.png" alt="logo" class="f-logo">
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry Loreaim Ipsum has been the
                    industry's standard dummyLorem Ipsum is an oi simply</p>
            </div>
            <div class="col-md-4 f-sec2">
                <h3>Quick Links</h3>
                <ul>
                    <li><a href="/technology/">Our Technology</a></li>
                    <li><a href="/nutritional/">Nutritional Benefits</a></li>
                    <li><a href="/about/">About Us</a></li>
                    <li><a href="/contact/">Contact Us</a></li>
                </ul>
            </div>
            <div class=" col-md-4 f-sec3">
                <h3>Address</h3>
                <div class="f-location">
                    <img src="/image/location-pin_svgrepo.com.svg" alt="">
                    <p>Lorem Ipsum is simply dummy text of the</p>
                </div>
                <div class="f-num">
                    <img src="/image/call-dropped-rounded_svgrepo.com.svg" alt="">
                    <p>Lorem Ipsum is simply dummy text of the</p>
                </div>
                <div class="f-mail">
                    <img src="/image/mail_svgrepo.com.svg" alt="">
                    <p>Lorem Ipsum is simply dummy text of the</p>
                </div>
            </div>
        </div>
    </footer>
    </div>