 <!-- Footer -->
     <div class="footer-bg">
    <footer class="container">
        <div class=" row">
            <div class="col-md-4 f-sec1">
                <img src="/image/jmr-logo.png" alt="logo" class="f-logo">
                <p>MR iFARMS is redefining fresh food through smart indoor farming solutions.Based in Coimbatore, we make nutrient-rich, pesticide-free microgreens accessible year-round.Powered by IoT and sustainability, we’re growing a healthier, greener future.</p>
            </div>
            <div class="col-md-4 f-sec2">
                <h3>Quick Links</h3>
                <ul>
                    <li><a href="/technology/">Our Technology</a></li>
                    <li><a href="/nutritional/">Nutritional Benefits</a></li>
                    <li><a href="/about/">About Us</a></li>
                    <li><a href="/contact/">Contact Us</a></li>
                </ul>
            </div>
            <div class=" col-md-4 f-sec3">
                <h3>Address</h3>
                <div class="f-location">
                    <img src="/image/location-pin_svgrepo.com.svg" alt="">
                    <p>14,N Mada St,Srinager Colony,Saidapet,Chennai</p>
                </div>
                <div class="f-num">
                    <img src="/image/call-dropped-rounded_svgrepo.com.svg" alt="">
                    <p>+91 8807201514</p>
                </div>
                <div class="f-mail">
                    <img src="/image/mail_svgrepo.com.svg" alt="">
                    <p>info@jmrifarms.com</p>
                </div>
            </div>
        </div>
    </footer>
    </div>