<h1>{{ site.Title }}</h1>
{{ partial "menu.html" (dict "menuID" "main" "page" .) }}
<nav class="navbar navbar-expand-lg fixed-top">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <img class="logo" src=" " alt="logo">
        </a>
        <button class="navbar-toggler bg-white" type="button" data-bs-toggle="offcanvas"
            data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="offcanvas offcanvas-end bg- #F0F1F1" tabindex="-1" id="offcanvasNavbar"
            aria-labelledby="offcanvasNavbarLabel">
            <div class="offcanvas-header">
                <h5 class="offcanvas-title text-white" id="offcanvasNavbarLabel">Logo</h5>
                <button type="button" class="btn-close bg-white" data-bs-dismiss="offcanvas"
                    aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
                <!-- <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                    {{ $current := .RelPermalink }}
                    <li class="nav-item">
                        <a class="nav-link {{ if eq $current " /" }}active{{ end }}" href="/"><span>Home</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {{ if eq $current " /technology/" }}active{{ end }}" href="/technology">Our
                            Technology</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {{ if eq $current " /nutritional/" }}active{{ end }}"
                            href="/nutritional">Nutritional Benefits</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {{ if eq $current " /about/" }}active{{ end }}" href="/about">About Us</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {{ if eq $current " /contact/" }}active{{ end }}" href="/contact">Contact
                            Us</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {{ if eq $current " /blog/" }}active{{ end }}" href="/blog">Blog</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {{ if eq $current " /list/" }}active{{ end }}" href="/list">List</a>
                    </li>
                </ul> -->
                <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                    {{ $current := .RelPermalink }}
                    {{ range site.Menus.main }}
                    {{ $isActive := false }}
                    {{ if or (eq $current .URL) (and (ne .URL "/") (hasPrefix $current .URL)) }}
                    {{ $isActive = true }}
                    {{ end }}
                    <li class="nav-item">
                        <a class="nav-link {{ if $isActive }}active{{ end }}" href="{{ .URL }}">
                            {{ .Name }}
                        </a>
                    </li>
                    {{ end }}
                </ul>

            </div>
        </div>
    </div>
</nav>