/* footer */
.footer-bg {
    background-image: url("/image/Group\ 79.png");
    padding: 5%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

footer .f-sec1 p {
    color: #FFF;
    font-family: Nunito;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 36px;
    /* width: 362px; */
}

.f-logo {
    width: 20%;
    margin-bottom: 30px;
}

.f-sec2 {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;

}

footer .f-sec2 h3 {
    color: #FFF;
    font-family: Nunito;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 30px;
    margin-left: -20px;
}

footer .f-sec2 li {
    color: #FFF;
    font-family: Nunito;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    list-style: none;
    margin: 0px 0px 20px 0px;

}
 .f-sec2 li :hover{
 color: #FFD449 ;
}

footer .f-sec3 h3 {
    color: #FFF;
    font-family: Nunito;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin: 0px 20px 30px 0px;
}

.f-location,
.f-num,
.f-mail {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 10px;
}

.f-sec3 p {
    color: #FFF;
    font-family: Nunito;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 10px;
}

@media (max-width: 426px) {
    .f-sec2 {
        align-items: start;
    }

    footer .f-sec2 h3 {
        margin-left: 0px;
    }

    footer .f-sec2 ul {
        margin-left: -28px;
    }

    footer .f-sec1 p {
        font-size: 16px;
    }

    footer .f-sec2 h3 {
        font-size: 20px;
    }

    footer .f-sec2 li {
        font-size: 16px;
    }

    footer .f-sec3 h3 {
        font-size: 20px;
    }

    .f-sec3 p {
        font-size: 16px;
    }
}