{{define "main"}}
<!-- About Section -->
<div class="Aboutsection container ">
  <div class=" about-section">
    <div class="about-left ">
      <h3 class=" heading box fade-right">About Us</h3>
      <h2 class="box fade-right">Growing fresh, sustainable, nutrient rich microgreens for healthy living.</h2>
      <p class="box fade-right"> At <strong>JMR iFARMS</strong>, we’re transforming the way people experience fresh,
        healthy food through innovative indoor farming.
        Based in <strong>Coimbatore</strong>, our mission is to make nutrient-rich, pesticide-free microgreens
        accessible to everyone, anywhere.</p>
      <div class="about-points">
        <div class="point box fade-right">
           <img src="/image/key-left-tic.png" class="key-left-tic">
          <p>At JMR iFARMS, we’re redefining the way you experience fresh, healthy food. Based in Coimbatore, our mission is to make nutrient-dense, pesticide-free microgreens accessible to everyone anytime, anywhere.</p>
        </div>
        <div class="point box fade-right">
           <img src="/image/key-left-tic.png" class="key-left-tic">
          <p>Driven by innovation, our team combines IoT-powered automation with sustainable growing methods to create smart vertical farming solutions. Our plug-and-play microgreen units simplify cultivation with automated lighting, watering, and climate control delivering freshness straight from farm to plate.</p>
        </div>
        <div class="point box fade-right">
           <img src="/image/key-left-tic.png" class="key-left-tic">
          <p>We envision a future where every household and business can grow its own healthy greens effortlessly. Through technology, we’re not just growing plants we’re growing a healthier, greener tomorrow.</p>
        </div>
      </div>
      <!-- <button class="about-button box fade-up"><a href="/about"> Discover More + </a></button> -->
    </div>
    <div class="about-right box zoom-in">
      <img src="/image/about-us-img.png" alt="" class="about-right-img">
    </div>
  </div>
</div>
<!-- Vision & Mission -->
<div class="Vision-Mission container">
  <div class="Vision box zoom-in">
    <div class="vision-card">
      <div class="vision-img"></div>
      <div class="vision-content">
        <h3>Vision</h3>
        <p>Our vision is to become a global leader in automated indoor microgreen farming.
          We strive to promote sustainable and healthy living for everyone.
          Driven by innovation, our team leverages smart technology to create change.
          From Coimbatore, we aim to build a greener, healthier future.</p>
        <!-- <p>Based in Coimbatore, JMR iFARMS is led by a team of innovators passionate about leveraging technology to create a healthier planet.</p> -->
        <p>We envision a world where everyone can effortlessly grow fresh, pesticide-free microgreens using our smart,
          plug-and-play vertical systems.</p>
      </div>
    </div>
  </div>
  <div class="Vision box zoom-in">
    <div class="vision-card">
      <div class="vision-img"></div>
      <div class="vision-content">
        <h3>Mission</h3>
        <p>At JMR iFARMS, our mission is to revolutionize the way people consume fresh produce.We are committed to
          providing healthy, nutrient-dense microgreens that are accessible to everyone throughout the year.</p>
        <p>By combining cutting-edge technology with sustainable farming methods, we bridge the gap between the farm and
          your home or business, ensuring a safer, healthier, and more convenient source of nourishment.</p>
      </div>
    </div>
  </div>
</div>

<!-- Success Stories -->
<div class="Success-section container">
  <div class="success-left box zoom-in ">
    <img src="/image/success-left.png" alt="" class="success-img">
  </div>
  <div class="success-right">
    <h3 class="box fade-left">The JMR iFarms Story</h3>
    <h1 class="box fade-left">Revolutionizing Your Plate, One Microgreen at a Time</h1>
    <h4 class="box fade-left">The Problem with Freshness</h4>
    <p class="box fade-left">We believe everyone deserves easy access to the freshest, most
      nutrient-dense food possible. Yet, traditional gardening requires time,
      space, and a certain expertise that many of us simply don't have in our
      busy urban lives. The journey from a distant farm to your plate often means
      lost nutrients and questionable pesticides.</p>
    <h5 class="box fade-left"><span class="story-sideheading"><b>We asked:</b></span> What if you could grow pure,
      healthy food right in your home
      space with zero fuss?</h5>
    <h4 class="box fade-left">The Seed of an Idea: Smarter Farming</h4>
    <p class="box fade-left">Our journey began and was driven by a simple mission: to make healthy,
      home-grown produce accessible to everyone. We decided to tackle the
      challenges of gardening using intelligent technology. The result? A
      compact, elegant automated system that eliminates the need for messy
      soil, constant attention, and a green thumb.</p>
    <h4 class="box fade-left">Engineering Effortless Nutrition</h4>
    <p class="box fade-left">We spent years researching, prototyping, and perfecting our technology.
      This wasn't just about growing plants; it was about engineering the perfect
      environment.</p>
    <h4 class="box fade-left">Your Farm, Your Home</h4>
    <p class="box fade-left">The final product is the JMR iFarms automated Microgreens grow unit – a
      sleek, silent, and simple-to-use appliance at home. It’s a testament to our
      dedication to quality and sustainability.</p>
    <p class="box fade-left">TWe invite you to join the movement. Grow vibrant, delicious, pesticide-free
      microgreens in your home, effortlessly. </p>
    <p class="box fade-left"><b>JMR iFarms:</b> Where fresh food and smart technology grow together </p>
  </div>
</div>
<!-- Review -->
<div class="Testimonials">
  <div class=" container">
    <h3 class="box fade-right">Testimonials</h3>
    <div class="head-caro">
      <h1 class="box fade-right">What our clients say?</h1>
      <div class="next-pre box fade-left">
        <img src="/image/pre.png" alt="" class="prev">
        <img src="/image/next.png" alt="" class="next">
      </div>
    </div>
    <section class="testimonials">
      <div id="customers-testimonials" class="owl-carousel">
        {{ range where .Site.RegularPages.ByDate "Type" "review" }}
        <div class="item">
          <div class="shadow-effect">
            <img src="{{.Params.person_img}}" alt="">
            <p>{{.Content}}</p>
          </div>
          <div class="testimonial-name">{{.Title}}</div>
        </div>
        {{end}}
    </section>
  </div>
</div>
{{end}}