{{ define "main" }}
<!-- Our Technology Section -->
<div class="ourtechnologysection">
  <div class="Our-Technology-section container">
    <div class="technology-left box zoom-in">
      <img src="/image/Our Technology-img-left.png" alt="" class="our-tech-img">
    </div>
    <div class="technology-right">
      <h3 class="heading box fade-left">Our Technology</h3>
      <h1 class="box fade-left">Growing Made Simple, Powered by IoT.</h1>
      <p class="technology-right-p box fade-left">Our smart automation system simplifies cultivation with precision lighting, watering, and climate control ensuring effortless, healthy growth every time.</p>
      <div class="about-points">
        <div class="point box fade-right">
          <img src="/image/key-left-tic.png" class="key-left-tic">
          <p><span  class="point1"><b>JMR iFARMS Vertical Farming : </b></span> Experience effortless, hands-free cultivation with smart IoT-powered systems.
Grow fresh microgreens year-round with automated lighting, watering, and control.Bringing innovation and freshness together for healthier living.Engineered for reliability delivering consistent harvests every cycle.</p>
        </div>
        <div class="point box fade-right">
          <img src="/image/key-left-tic.png" class="key-left-tic">
          <p><span class="point1"><b>Easy Growing, Fresh Living :</b></span> Our plug-and-play design makes growing simple for anyone, anywhere.
Just add seeds, set your schedule, and enjoy pesticide-free microgreens daily.Farming made easy no expertise required, just fresh results every time.Designed to save time and space while promoting healthy living.</p>
        </div>
        <div class="point box fade-right">
          <img src="/image/key-left-tic.png" class="key-left-tic">
          <p><span class="point1"><b>Scalable Innovation :</b></span>  Designed to fit every space from homes to commercial setups.
Expand easily with modular systems that grow with your needs.Your growth, powered by flexibility and intelligent design.Built to adapt as you scale ensuring consistency at every level.</p>
        </div>
        <div class="point box fade-right">
          <img src="/image/key-left-tic.png" class="key-left-tic">
          <p><span class="point1"><b>Future of Farming :</b></span> We combine technology and sustainability for smarter cultivation.
Enjoy healthier, fresher produce grown through intelligent automation.Shaping the next generation of farming clean, efficient, and green.Empowering communities to grow locally and live sustainably.</p>
        </div>
      </div>
      <!-- <div class="tech-point-4 ">
            {{ range where .Site.RegularPages.ByDate "Type" "ourTech" }}
              <div class="tech1 box fade-up">
                <div class="icon-text">
                  <img src="{{ .Params.img }}" w="100%" class="tech-tic">
                  <h3>{{.Title}}</h3>
                </div>
                <p id="tech1-p">{{.Params.para}}</p>
              </div>
            {{end}}
        </div> -->
    </div>
  </div>
</div>
<!-- Key Features -->
<div class="Key-Features-section container">
  <div class="key-left">
    <h3 class="box fade-right">Key Features</h3>
    <h1 class="box fade-right">Healthy Greens, Effortlessly Grown</h1>
    <div class=" key-points box fade-right">
      <div class="  key-points-left">
        <div class="key-icon-text">
          <img src="/image/key-left-tic.png" alt="">
          <p>Vertical growing system</p>
        </div>
        <div class="key-icon-text">
          <img src="/image/key-left-tic.png" alt="">
          <p>Plug n Play method</p>
        </div>
        <div class="key-icon-text">
          <img src="/image/key-left-tic.png" alt="">
          <p>Sustainable use of energy</p>
        </div>
        <div class="key-icon-text">
          <img src="/image/key-left-tic.png" alt="">
          <p>Portable & Customized</p>
        </div>
        <div class="key-icon-text">
          <img src="/image/key-left-tic.png" alt="">
          <p>User friendly automation</p>
        </div>
        <div class="key-icon-text">
          <img src="/image/key-left-tic.png" alt="">
          <p>Real time displays</p>
        </div>
      </div>
      <div class=" key-points-right">
        <div class="key-icon-text">
          <img src="/image/key-left-tic.png" alt="">
          <p>Fast Scaling</p>
        </div>
        <div class="key-icon-text">
          <img src="/image/key-left-tic.png" alt="">
          <p>Pesticide Free</p>
        </div>
        <div class="key-icon-text">
          <img src="/image/key-left-tic.png" alt="">
          <p>Cost Saving</p>
        </div>
        <div class="key-icon-text">
          <img src="/image/key-left-tic.png" alt="">
          <p>50 to 90 harvests in a year</p>
        </div>
        <div class="key-icon-text">
          <img src="/image/key-left-tic.png" alt="">
          <p>Automated ideal lighting, Watering</p>
        </div>
        <div class="key-icon-text">
          <img src="/image/key-left-tic.png" alt="">
          <p>Automated Climate control</p>
        </div>
      </div>

    </div>
  </div>
  <div class="key-right box zoom-in">
    <img src="/image/key-right.png" alt="" class="key-right-img">
  </div>
</div>

{{end}}