{{ define "main" }}
<!-- Hero Section -->
<div class="banner-img">
  <div class="banner-text">
    <h3># Be Natural</h3>
    <h1>Nature’s Nutrition, Straight from Our Unit</h1>
    <button class="banner-button">View Our Service</button>
  </div>
</div>
<!-- About Section -->
<div class="Aboutsection container ">
  <div class=" about-section">
    <div class="about-left ">
      <h3 class=" heading box fade-right">About Us</h3>
      <h2 class="box fade-right">Growing fresh, sustainable, nutrient rich microgreens for healthy living.</h2>
      <p class="box fade-right">Lorem Ipsum is simply dummy text of the printing and typesetting industry Loreaim
        Ipsum has been the
        industry's standard dummyLorem Ipsum is an oi simply dummy text of the printing and typesetting
        industry.</p>
      <div class="about-points">
        <div class="point box fade-right">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
            <path
              d="M12 2C6.49 2 2 6.49 2 12C2 17.51 6.49 22 12 22C17.51 22 22 17.51 22 12C22 6.49 17.51 2 12 2ZM16.78 9.7L11.11 15.37C10.97 15.51 10.78 15.59 10.58 15.59C10.38 15.59 10.19 15.51 10.05 15.37L7.22 12.54C6.93 12.25 6.93 11.77 7.22 11.48C7.51 11.19 7.99 11.19 8.28 11.48L10.58 13.78L15.72 8.64C16.01 8.35 16.49 8.35 16.78 8.64C17.07 8.93 17.07 9.4 16.78 9.7Z"
              fill="#EEC044" />
          </svg>
          <p>Lorem Ipsum is simply dummy text of the printing</p>
        </div>
        <div class="point box fade-right">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
            <path
              d="M12 2C6.49 2 2 6.49 2 12C2 17.51 6.49 22 12 22C17.51 22 22 17.51 22 12C22 6.49 17.51 2 12 2ZM16.78 9.7L11.11 15.37C10.97 15.51 10.78 15.59 10.58 15.59C10.38 15.59 10.19 15.51 10.05 15.37L7.22 12.54C6.93 12.25 6.93 11.77 7.22 11.48C7.51 11.19 7.99 11.19 8.28 11.48L10.58 13.78L15.72 8.64C16.01 8.35 16.49 8.35 16.78 8.64C17.07 8.93 17.07 9.4 16.78 9.7Z"
              fill="#EEC044" />
          </svg>
          <p>Lorem Ipsum is simply dummy text of the printing</p>
        </div>
        <div class="point box fade-right">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
            <path
              d="M12 2C6.49 2 2 6.49 2 12C2 17.51 6.49 22 12 22C17.51 22 22 17.51 22 12C22 6.49 17.51 2 12 2ZM16.78 9.7L11.11 15.37C10.97 15.51 10.78 15.59 10.58 15.59C10.38 15.59 10.19 15.51 10.05 15.37L7.22 12.54C6.93 12.25 6.93 11.77 7.22 11.48C7.51 11.19 7.99 11.19 8.28 11.48L10.58 13.78L15.72 8.64C16.01 8.35 16.49 8.35 16.78 8.64C17.07 8.93 17.07 9.4 16.78 9.7Z"
              fill="#EEC044" />
          </svg>
          <p>Lorem Ipsum is simply dummy text of the printing</p>
        </div>
      </div>
      <button class="about-button box fade-up"><a href="/about"> Discover More + </a></button>
    </div>
    <div class="about-right box zoom-in">
      <img src="/image/about-us-img.png" alt="" class="about-right-img">
    </div>
  </div>
</div>
<!-- Our Technology Section -->
     <div class="ourtechnologysection">
    <div class="Our-Technology-section container">
      <div class="technology-left box zoom-in">
        <img src="/image/Our Technology-img-left.png" alt="" class="our-tech-img">
      </div>
      <div class="technology-right">
        <h3 class="heading box fade-left">Our Technology</h3>
        <h1 class="box fade-left">Growing Made Simple, Powered by IoT.</h1>
        <p class="technology-right-p box fade-left">Loreaim Ipsum has been the
          industry's standard dummyLorem Ipsum is an <br>oi simply dummy text of the printing and typesetting
          industry.</p>
        <!-- <div class="tech-point-tot4"> -->
        <div class="tech-point-4 ">
            {{ range (where .Site.RegularPages.ByDate "Type" "ourTech") }}
              <div class="tech1 box fade-up">
                <div class="icon-text">
                  <img src="{{ .Params.img }}" w="100%" class="tech-tic">
                  <h3>{{.Title}}</h3>
                </div>
                <p id="tech1-p">{{.Params.para}}</p>
              </div>
            {{end}}
        </div>
        <button class="tech-button box fade-up">Discover More +</button>
        <!-- </div> -->
      </div>
    </div>
  </div>
   <div class="ourtechnologysection">
    <div class="Our-Technology-section container">
      <div class="technology-left box zoom-in">
        <img src="/image/Our Technology-img-left.png" alt="" class="our-tech-img">
      </div>
      <div class="technology-right">
        <h3 class="heading box fade-left">Our Technology</h3>
        <h1 class="box fade-left">Growing Made Simple, Powered by IoT.</h1>
        <p class="technology-right-p box fade-left">Loreaim Ipsum has been the
          industry's standard dummyLorem Ipsum is an <br>oi simply dummy text of the printing and typesetting
          industry.</p>
        <!-- <div class="tech-point-tot4"> -->
        <div class="tech-point-4 ">
            {{ range (where .Site.RegularPages.ByDate "Type" "ourTech") }}
              <div class="tech1 box fade-up">
                <div class="icon-text">
                  <img src="{{ .Params.img }}" w="100%" class="tech-tic">
                  <h3>{{.Title}}</h3>
                </div>
                <p id="tech1-p">{{.Params.para}}</p>
              </div>
            {{end}}
        </div>
        <button class="tech-button box fade-up">Discover More +</button>
        <!-- </div> -->
      </div>
    </div>
  </div>
<!-- How it's work Section -->
<div class="howitswork ">
  <div class="how-work box zoom-in">
    <!-- <img src="/image/how-its-work.png" alt="" w="100%"> -->
    <div class="work-left box zoom-in">
      <h3>How it Works</h3>
      <h1>Just add seeds, set the schedule, and let IoT technology handle light,
        water, and care delivering fresh,pesticide-free microgreens year-round.</h1>
    </div>
    <div class="work-right box zoom-in ">
      <div id="playBtn" class="play-btn-container" aria-label="Open video">
        <div class="play-button" aria-hidden="true"></div>
      </div>
    </div>
  </div>
</div>
<div id="videoOverlay" class="video-overlay" role="dialog" aria-modal="true" aria-hidden="true">
  <div class="video-box" role="document">

    <button id="closeBtn" class="close-btn" aria-label="Close video">&times;</button>


    <video id="videoPlayer" controls preload="metadata">

      <source src="https://www.w3schools.com/html/mov_bbb.mp4" type="video/mp4">
      Your browser does not support video playback.
    </video>
  </div>
</div>
<!-- Review -->
<div class="Testimonials">
  <div class=" container">
    <h3 class="box fade-right">Testimonials</h3>
    <div class="head-caro">
      <h1 class="box fade-right">What our clients say?</h1>
      <div class="next-pre box fade-left">
        <img src="/image/pre.png" alt="" class="prev">
        <img src="/image/next.png" alt="" class="next">
      </div>
    </div>
    <section class="testimonials">
      <div id="customers-testimonials" class="owl-carousel">
        {{ range where .Site.RegularPages.ByDate "Type" "review" }}
        <div class="item">
          <div class="shadow-effect">
            <img src="{{.Params.person_img}}" alt="">
            <p>{{.Content}}</p>
          </div>
          <div class="testimonial-name">{{.Title}}</div>
        </div>
        {{end}}
    </section>
  </div>
</div>

{{ end }}